body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

#content {
	flex: 1;
}

.linkButton {
    color: #ffffff;
    border: 1px solid;
    text-transform: uppercase;
    border-color: #a00403 #870403 #6e0302;
    border-radius: 20px;
    font-size: 1.1em;
    padding: 8px 14px 8px 14px;
    background: linear-gradient(rgb(202, 0, 0), #721403);
}

.linkButton:hover {
	background: linear-gradient( #6e0302, #aa0504);
	color: #ffffff;
}

.headerContent, .headerPanel,
.headerContent .navbar.navbar-inverse,
.dropdown-menu.menuDiv,
.dropdown-menu.menuDiv .dropdown-item:hover,
.content-widget-container {
	border-radius:30px;
	box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.16);
}

.navbar-nav .nav-item .nav-link,
.dropdown-menu.menuDiv .dropdown-item {
    color: wheat;
}

.content-widget-container, .sliderNavigation.pagination {
    overflow:hidden;
}

.sliderNavigation.pagination {
	margin: 20px 0 0 0;
}

.pagination>li>a.page-link{
	color:#aa0504;
}

.sliderNavigation .page-item.active .page-link {
	color:#6e0302;
    background-color: #8dcbbb;
    border-color: #8dcbbb;
}

.pagination>li>a.page-link:hover {
	color:#6e0302;
}

.headerContent .headerContentInnerWrapper,
.search-wrapper, #inhalt.widget-container {
	display:flex;
	flex-direction: row; 
}

.widget-container {
	flex-wrap:wrap;
	max-width: 1380px;
    margin-right: auto;
    margin-left: auto;
}

.content-widget-wrapper {
	padding:30px;
	max-width:350px;
}

.content-widget-content {
    min-height: 272px;
    text-align: left;
    padding: 30px;
    background-color: #ffffff;
    width: 100%;
}

.search-wrapper {
    margin: 0.5rem 0;
}

.pageHeader.sticky {
	height:75px;
	margin:15px;
}

.headerContent {
    position:fixed;
    background-color: #701718;
    border-color: #701718;
}

.headerContent .headerContentInnerWrapper {
    justify-content: center;
    align-items: center;
}

.headerContent .navbar.navbar-inverse {
	height:50px;
	margin:5px 0;
	padding:0 10px;
}

.headerLogo {
	text-align:center;
	padding: 5px 30px 5px 30px;
}

.headerImage {
	width:500px;
}

.dropdown-menu.menuDiv {
	padding:10px;
	background-color:#6e0302;
}

.dropdown-menu.menuDiv .dropdown-item:hover {
	background: linear-gradient( #8dcbbb, #297b79);
}

.contact {
	display:flex;
	justify-content:center;
	width:100%;
	padding:10px;
}

.contactCopyright {
	margin:5px;
}

.contactLinks {
	margin:5px;
	display:flex;
	flex-direction: row; 
}

.contact a, .contact a:hover {
	color: wheat;
}

.datenschutz {
	margin: 0 14px 0 12px;
}

.impressum {
	margin-left: 12px;
    margin-right: 12px;
}

#page-footer {
	width: 60%;
	margin: 0 auto;
	display:flex;
	flex-direction: column;
	background-color: #701718;
	color: wheat;
	box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.16);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.scial_media {
	display:flex;
	justify-content: center;
	text-align: center;
	margin-top: 10px;
}

.scial_media .fa.fa-3x {
	margin: 0 10px;
}

.fa.fa-3x.fa-xing {
	color: #126567;
}

.fa.fa-3xfa-facebook-square {
	color: #3b5998;
}

.fa.fa-3x.fa-instagram {
	color: #833ab4;
}