.linkButton {
    color: #ffffff;
    border: 1px solid;
    text-transform: uppercase;
    border-color: #a00403 #870403 #6e0302;
    border-radius: 20px;
    font-size: 1.1em;
    padding: 8px 14px 8px 14px;
    background: linear-gradient(rgb(202, 0, 0), #721403);
}

.linkButton:hover{
	background: linear-gradient( #6e0302, #aa0504);
	color: #ffffff;
}

.dropdown-menu.menuDiv, .dropdown-menu.menuDiv .dropdown-item:hover, .content-widget-container, .sliderNavigation.pagination{
	border-radius:30px;
	box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.content-widget-container, .sliderNavigation.pagination{
    overflow:hidden;
}

.sliderNavigation.pagination{
	margin: 20px 0 0 0;
}

.pagination>li>a.page-link{
	color:#aa0504;
}

.sliderNavigation .page-item.active .page-link{
	color:#6e0302;
    background-color: #8dcbbb;
    border-color: #8dcbbb;
}

.pagination>li>a.page-link:hover{
	color:#6e0302;
}

.headerContent, .search-wrapper, .widget-container{
	display:flex;
	flex-direction: row; 
}

.widget-container{
	justify-content:center;
	flex-wrap:wrap;
	max-width: 1380px;
    margin-right: auto;
    margin-left: auto;
}

.content-widget-wrapper{
	padding:30px;
	max-width:350px;
}

.content-widget-content {
    min-height: 272px;
    text-align: left;
    padding: 30px;
    background-color: #ffffff;
    width: 100%;
}

.search-wrapper{
    margin: 0.5rem 0;
}

.headerContent{
    background-color: #701718;
    border-color: #701718;
}

.headerContent .navbar.navbar-inverse{
	height:50px;
	margin:5px 0px;
	padding:0px 10px;
}

.headerLogo{
	text-align:center;
	padding: 5px 30px 5px 30px;
}

.headerImage{
	width:500px;
}

.dropdown-menu.menuDiv{
	padding:10px;
}

.dropdown-menu.menuDiv .dropdown-item:hover{
	background: linear-gradient( #8dcbbb, #297b79);
}

.contact {
	display:flex;
	justify-content:center;
	width:100%;
	background-color:#701718;
	color: white;
	padding:10px;
}

.contactCopyright{
	margin:5px;
}

.contactLinks{
	margin:5px;
	display:flex;
	flex-direction: row; 
}

.contact a{
	color: white;
	font-size: 18px;
}

.contact a:hover{
	color: white;
}

.datenschutz{
	margin: 0 14px 0 12px;
}

.impressum{
	margin-left: 12px;
    margin-right: 12px;
}