.pageHeader{
    background-color: unset;
    color:#701718;
}

.headerHashTag{
	color:#8dcbbb;
	top:1%;
	bottom: 5%;
	margin-top: auto;
}

#inhalt, #psersonalInformation{
	margin: 35px 0px;
	align-items: center;
  	justify-content: center;
  	flex-direction: column;
}

#psersonalInformation .content-widget-wrapper{
	max-width:unset;
	width:400px;
}

.navbar-extra, #inhalt, #psersonalInformation{
	display: flex;
}

#inhalt.row {
	flex-direction: row;
}

.news-image-teaser {
	border-radius: 30px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.16);
    margin: 2.25em 0;
    padding: 30px;
    width:400px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 720px) {
	.news-image-teaser, #psersonalInformation .content-widget-wrapper {
		width:500px;
	}
}

@media (min-width: 1160px) {
	.news-image-teaser, #psersonalInformation .content-widget-wrapper {
		width:1000px;
	}
}

.news-image-teaser-meta {
    float: left;
    width: 17.375%;
    line-height: 1;
    text-align: center;
    font-size:1.5em;
    white-space: nowrap;
}

.news-image-teaser h2 {
    display: block;
    margin: 1.2em 0 0.5em;
    padding: 0 0 0.41667em;
    border-bottom: 1px solid #701718;
    font-size: 1.5em;
    font-weight: bold;
    color: inherit;
}

.news-image-teaser time {
    margin-right:800px;
}

.news-image-teaser a {
    color:#aa0504;
}

.news-image-teaser a:hover {
    color:#aa0504;
}

.heading{
	border-bottom: 2px solid #701718;
}

.headingPersonal{
	border-bottom: 2px solid #701718;
	text-align:center;
}

div .buttonToText{
	text-align:center; 
	margin-top:25px;
}

.table#tour, .table#player{
	margin-top:15px;
}